/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*
  *= require font-awesome
  */
 html {
   background-image: url("dessert.jpg");
   background-color: #e2f0f4;
   background-size: 1450px 830px;
   background-repeat: no-repeat;
 }

body {
font-family: 'Halant', serif;

}

h1 {
  text-align: center;
}
h1 a{
  color: #7F462C;
  text-align: center;
  text-decoration: none;
  font-family: 'Poiret One', cursive;
  font-size: 50px;
}

h2 {
  text-align: center;
  color: #2c657f;
}
p{
  color: #462718;
}

a {
  text-decoration: none;
  color: purple;
}
ul li {
  padding: 4px;
}

ul {
  text-align: left;
}
li a{
  color:#462718
}

.edit {
  padding-top: 1em;
}

.post {
  text-align: center;
  font-size: 30px;
}

ul {
  list-style-type: none;
}

#main_content {
  margin: 3em;
  width: 80%;
  border: 1px solid gray;
  padding: 2em;
  border-radius: 3px;
  background-color: rgba(255, 250, 240, 0.4);
  float: right;
  border-radius: 20px;
  -webkit-box-shadow: 0px 9px 34px 0px rgba(126,148,126,1);
  -moz-box-shadow: 0px 9px 34px 0px rgba(126,148,126,1);
  box-shadow: 0px 9px 34px 0px rgba(126,148,126,1);
  /*opacity: .5;*/
}


#user_options {

}

a .fa-plus-square {
  position: relative;
  font-size: 18px;
  color: #422828;
}
a .fa-pencil {
  font-size: 18px;
  color:#422828;
  padding: 3px;
}
