/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "font-awesome-sprockets";
 @import "font-awesome";

 html {
   background-image: url("bamboo.jpg")
 }

body {


}
h1{
  color: red;
  text-align: center;
  text-decoration: none;
}
h2 {
  text-align: center;
}

.edit {
  padding-top: 1em;
}

.post {
  text-align: center;
  font-size: 30px;
}

ul {
  list-style-type: none;
}

#main_content {
  margin: 2em;
  width: 40%;
  border: 1px solid gray;
  padding: 2em;
  border-radius: 3px;
  background-color: #F2F2F2;
  float: right;
  border-radius: 20px;
}

#user_options {
  float: right;
  margin-right: 1.5em;

}

a .fa-plus-square {
  position: relative;
  font-size: 18px;
}
a .fa-pencil {
  font-size: 18px;
}

a {
  text-decoration: none;
}

ul li {
  padding: 4px;
}
